@font-face {
    font-family: AdihausDIN-Bold-Italics;
    src: url(../FONT/AdihausDIN-BoldItalics/AdihausDIN-CnBoldItalic.woff2) format("opentype");
}

@font-face {
    font-family: AdihausDIN-Bold;
    src: url(../FONT/AdihausDIN-Bold/AdihausDIN-Bold.woff2) format("opentype");
}

@font-face {
    font-family: AdihausDIN-Regular;
    src: url(../FONT/AdihausDIN-Regular/AdihausDIN-Regular.woff2) format("opentype");
}

@font-face {
    font-family: AdineuePRO-Bold;
    src: url(../FONT/AdineuePRO-Bold/adineuePRO-Bold.woff2) format("opentype");
}

@font-face {
    font-family: AdineuePRO-Regular;
    src: url(../FONT/AdineuePRO-regular/adineuePRO-Regular.woff2) format("opentype");
}

body, html {
    height: 100%;
}


a.footer-link-bold {
    font-family: "Nike Futura";
    text-decoration: none;
}

a.footer-link-light {
    font-family: "Helvetica Neue";
    text-decoration: none;
    font-size: 12px;
}

a.nav-link{
    position: relative;
    color: #000;
    text-decoration: none;
}

a.nav-link:hover {
    color: #000;
}

a.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a.nav-link:hover::before {
    transform: scaleX(1);
}


a.black-bg{
    position: relative;
    color: white;
    text-decoration: none;
}

a.black-bg:hover {
    color: white;
}

a.black-bg::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a.black-bg:hover::before {
    transform: scaleX(1);
}



a.btn-dark:hover {
    color: #000;
    background-color: white;
    border: solid 1px black;
    transition: transform 0.6s ease-in-out;
}

a.btn-light:hover {
    color: white;
    background-color: black;
    border: none;
    transition: transform 0.6s ease-in-out;
}

.bg { 
    /* The image used */
    background-image: url("../IMG/Banner-main.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
